
project {
    groupId "org.github.mbarberot"
    name "mtg-grimoire"
    version "2026.0.0"
    mainClass "App"

    libs {
        jackson {
            enabled "true"
            core {
                - "databind"
            }
        }
    }

    dependencies {
        - {
            groupId "io.javalin"
            artifactId "javalin-bundle"
            version "7.2.2"
        }
        - {
            groupId "org.slf4j"
            artifactId "slf4j-api"
            version "2.0.17"
        }
        - {
            groupId "org.apache.logging.log4j"
            artifactId "log4j-slf4j2-impl"
            version "2.24.3"
        }
        - {
            groupId "org.apache.logging.log4j"
            artifactId "log4j-core"
            version "2.24.3"
        }
        - {
            groupId "com.github.jknack"
            artifactId "handlebars"
            version "4.5.3"
        }
        - {
            groupId "io.insert-koin"
            artifactId "koin-core"
            version "4.2.2"
        }
        - {
            groupId "io.insert-koin"
            artifactId "koin-core-jvm"
            version "4.2.2"
        }
        - {
            groupId "com.github.zafarkhaja"
            artifactId "java-semver"
            version "0.10.2"
        }
        - {
            groupId "org.webjars.npm"
            artifactId "htmx.org"
            version "2.0.10"
        }
    }
}

jetbrains {
    enabled "true"
}

kotlin {
    enabled "true"
    version "2.3.21"
}

nix {
    enabled "true"
}

git {
    enabled "true"
    ignore {
        - "dev/"
    }
}

scripts {
    enabled "true"
    build {
        enabled "true"
    }
    tests {
        enabled "true"
    }
}

maven {
    enabled "true"
    filtering { 
        enabled "false"
    }
}

tests {
    enabled "true"
}


