extends ../../application.jade

block main
    .ui.text.container
        img.ui.little.left.floated.image(src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=235597&type=card")
        h1 Liliana of the Veil
        .ui.divider
        p.
            +1: Each player discards a card.<br/>
            −2: Target player sacrifices a creature.<br/>
            −6: Separate all permanents target player controls into two piles. That player sacrifices all permanents in the pile of his or her choice.
