extends ../application.jade

block main
    .ui.segment
        .ui.container
            form.ui.form
                .field
                    .ui.left.icon.input
                        input.prompt(
                            type=text, name="q", placeholder="ie: Liliana Vess",
                            ic-post-to="/ic/search", ic-target="#search-results", ic-trigger-on="keypress"
                        )
                        i.search.icon
    
    #search-results