extends ../application.jade

block main
    .ui.segment
        .ui.container
            form.ui.form(action="/search", method="get")
                .field
                    .ui.left.icon.action.input
                        input.prompt(type=text, name="q", placeholder="ie: Liliana Vess")
                        i.search.icon
                        button.ui.primary.button(type="submit") Search !
    