extends /application.jade

block main
    .ui.container
        .ui.center.aligned.container
            form.ui.form(action="/search", method="get")
                .six.wide.field
                    .ui.left.icon.action.input
                        input.prompt(type=text, name="q", placeholder="ie: Liliana Vess")
                        i.search.icon
                        button.ui.primary.button(type="submit") Search a card
        .ui.divider
        .ui.middle.aligned.divided.list
            a.ui.item(href="/card/370658")
                .image
                    img(src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=370658&type=card")
                .content
                    .header Liliana of the Dark Realms
                    .description
                        p.
                            +1: Search your library for a Swamp card, reveal it, and put it into your hand. Then shuffle your library.<br/>
                            −3: Target creature gets +X/+X or -X/-X until end of turn, where X is the number of Swamps you control.<br/>
                            −6: You get an emblem with "Swamps you control have ‘(T): Add (B)(B)(B)(B) to your mana pool.'"<br/>
            a.ui.item(href="/card/414388")
                .image
                    img(src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=414388&type=card")
                .content
                    .header Liliana, the Last Hope
                    .description
                        p.
                            +1: Up to one target creature gets -2/-1 until your next turn.<br/>
                            −2: Put the top two cards of your library into your graveyard, then you may return a creature card from your graveyard to your hand.<br/>
                            −7: You get an emblem with "At the beginning of your end step, create X 2/2 black Zombie creature tokens, where X is two plus the number of Zombies you control."<br/>
            a.ui.item(href="/card/235597")
                .image
                    img(src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=235597&type=card")
                .content
                    .header Liliana of the Veil
                    .description
                        p.
                            +1: Each player discards a card.<br/>
                            −2: Target player sacrifices a creature.<br/>
                            −6: Separate all permanents target player controls into two piles. That player sacrifices all permanents in the pile of his or her choice.<br/>