doctype html
html
    head
        title MTG : Grimoire
        link(rel="stylesheet", type="text/css", href="/css/semantic.css")
        link(rel="stylesheet", type="text/css", href="/css/magic-view.css")
        
    body
        .ui.main.inverted.vertical.segment
            .ui.inverted.secondary.pointing.menu
                .brand.item Magic The Gathering : Grimoire
                a.active.item(href="/") Search

        #main
            block main
                
        script(src="https://code.jquery.com/jquery-1.10.2.min.js")
        script(src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.0.3.min.js")