doctype html
html
    head
        title Magic View 
        link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css")
        link(rel="stylesheet", type="text/css", href="/css/magic-view.css")
        
    body
        .ui.violet.inverted.menu
            .ui.container
                a.brand.active.item(href="/") Magic View
                a.item(href="/search") Search
            
        #main
            .ui.four.column.centered.grid
                block main