doctype html
html
    head
        title Magic View 
        link(rel="stylesheet", type="text/css", href="/css/semantic.css")
        link(rel="stylesheet", type="text/css", href="/css/magic-view.css")
        
    body
        .ui.teal.inverted.menu
            .ui.container
                a.brand.active.item(href="/") Magic View
                a.item(href="/search") Search
            
        #main
            .ui.four.column.centered.grid
                block main
                
        script(src="https://code.jquery.com/jquery-1.10.2.min.js")
        script(src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.0.3.min.js")