.ui.main.fluid.vertical.segment
    .ui.one.cards
        .ui.card
            .content
                .header #{card.name}
            .content
                img.left.floated.little.ui.image(src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=#{card.multiverseId}&type=card")
                if card.tags
                    .ui.violet.labels
                        for tag in card.tags
                            .ui.label #{tag}