.ui.main.fluid.vertical.segment
    .ui.one.cards
        .ui.card
            .content
                .header #{card.name}
            .content
                img.left.floated.little.ui.image(src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=#{card.multiverseId}&type=card")
                .ui.violet.labels
                    .ui.label lorem ipsum
                    .ui.label dolor sit amet
                    .ui.label consectetuer
                    .ui.label adipiscing elit
            .extra.content
                .ui.two.buttons
                    .ui.basic.violet.button
                        i.add.icon
                        | Add to collection
                    .ui.basic.violet.icon.button
                        i.add.icon
                        | Add to deck