.ui.segment
    .ui.left.aligned.container
        h2 Results
        .ui.divider
        .ui.items
            for card in cards
                .item
                    .ui.tiny.image
                        img(src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=#{card.multiverseId}&type=card")
                    .middle.aligned.content
                        a.header(href="##{card.name}") #{card.name}
            else
                h3 No results