if cards
    .ui.main.fluid.vertical.segment
        .ui.three.cards
            for card in cards
                .ui.card
                    .content
                        .header(href="##{card.name}") #{card.name}
                    .content
                        img.left.floated.small.ui.image(src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=#{card.multiverseId}&type=card")
                        .ui.purple.labels
                            .ui.label lorem ipsum
                            .ui.label dolor sit amet
                            .ui.label consectetuer 
                            .ui.label adipiscing elit

else
    .ui.main.fluid.vertical.segment
        .ui.purple.message No results